<%include ./partials/header.ejs%>
<%var companies=[];%>
<style>
.thumbnail img{
    width:100%;
}
.thumbnail{
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
</style>
<div class="container">
    
  <header class="jumbotron">
      <div style="text-align:center" class="container">
          <h1><%=categoryType%> Section!!!</h1>
      </div>
  </header>
  <%for(var i=0;i<products.length;i++){ %>
    <%if(!companies.includes(products[i].company)){%>
        <%companies.push(products[i].company)%>
        <%console.log(companies);%>
        <button type="button" class="btn btn-info btn-lg"><%=products[i].company%></button>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <%for(var j=0;j<products.length;j++){%>
      <%if(products[j].company==products[i].company){%>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%=products[j]["image"]%>">
              <div class="caption">
                  <h4><%=products[j]["name"]%></h4>
              </div>
              <p>
                <a class="info" href="/categories/<%=products[j].category%>/<%=products[j].company%>/<%= products[j]._id%>" class="btn btn-primary">More info</a>
              </p>
          </div>
      </div>
      
      <%}%>
      <%}%>
  </div>
  <%}%>
  <%}%>
</div>
<%include ./partials/footer.ejs%>